.header {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.header-image {
    width: 4em;
}

.header-text {
    color: #FFF;
}