.main {
    width: 100vw;
    height: 100vh;

    background: var(--main-linear);

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 30%;
    height: 80%;

    padding: 1em;
    background: var(--third-color);
    border-radius: 30px;

    box-shadow: .25em .25em .5em rgba(0, 0, 0, .7);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 700px) and (orientation: portrait) {
    .main-container {
        width: 90%;
        height: 95%;
    }
}

@media (max-width: 950px) and (orientation: landscape) {
    .main-container {
        width: 50%;
        height: 95%;
    }
}