@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --first-color: #ff038f;
    --second-color: 	#a3006b;
    --third-color: #5e0034;
    --fourth-color: #2b0018;
    --black-color: #13000a;

    --main-linear: linear-gradient(35deg, var(--third-color), var(--first-color));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}